<ion-view view-title="내정보" hide-back-button="true">
  <ion-content>
    <div class="row">
      <div class="col profile-avatar">
        <!-- <img src="http://mud-kage.kakao.co.kr/14/dn/btqeu4Bor7R/MKHxzKGezGzCbqwPjMAtf0/o.jpg"> -->
        <img ng-src="{{confirmProfile.profileImg}}" ng-click="confirmProfile.changeProfileImg()">
        <!-- <span class="modify-img">
          <i class="icon ion-ios-camera-outline"></i>
        </span> -->
      </div>
    </div>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">닉네임</span>
        <input type="text" placeholder="닉네임을 지정해 주세요." ng-model="confirmProfile.nickname">
      </label>
      <!-- <div class="item">
        닉네임
        <span class="item-note">
          {{confirmProfile.nickname}}
        </span>
      </div> -->
      <div class="item">
        이메일
        <span class="item-note">
          {{confirmProfile.email}}
        </span>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-stable">
    <a class="button button-positive button-footer" ng-click="confirmProfile.submit()">
      완료
    </a>
  </ion-footer-bar>
</ion-view>
