<ion-view view-title="목록">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="albums.popOverOrdering($event)">
      정렬
    </button>
  </ion-nav-buttons>
  <div class="bar bar-subheader ">
    <div class="album-button-bar">
      <a ng-class="{active:albums.filteringType === 'total'}" ng-click="albums.showTotalList()">전체</a>
      <a ng-class="{active:albums.filteringType === 'shared'}" ng-click="albums.showSharedList()">공유</a>
      <a ng-class="{active:albums.filteringType === 'saved'}" ng-click="albums.showSavedList()">스크랩</a>
    </div>
  </div>
  <ion-content class="has-subheader">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="albums.doRefresh('top')">
  	</ion-refresher>
    <div ng-show="albums.filteringType === 'total'">
      <div ng-repeat="post in albums.totalPosts track by $index" class="padding-top" ng-click="albums.showAlbum($index)">
        <div class="padding-left row">
          <div class="col-67">
            <strong ng-show="post.name">{{post.name}}&nbsp;</strong><small class="mid-gray">{{post.address}}</small>
          </div>
          <div class="col-33 right">
            <small>{{post.datetime}}</small>
          </div>
        </div>
        <div ng-show="post.desc" class="padding-left padding-right mid-gray" style="height:21px;overflow:hidden;">
          <small>{{post.desc}}</small>
        </div>
        <div class="padding-top">
          <div ng-repeat="image in post.userPost.images| limitTo: 4 track by $index" style="width:{{albums.calculatedHeight+5}}px;height:{{albums.calculatedHeight}}px;display:inline-block;overflow:hidden;padding-left:5px;">
      			<img style="height:{{albums.calculatedHeight}}px;" ng-src="{{image.summary}}">
            <div style="width:{{albums.calculatedHeight+5}}px;height:{{albums.calculatedHeight+1}}px;position:relative;text-align:center;top:-{{albums.calculatedHeight+6}}px;z-index:100;background-color:rgba(0,0,0,0.5);padding-top:26px;" ng-show="$index === 3 && post.userPost.images.length > 4"><h2 style="color:white;">+{{post.userPost.images.length - 4}}</h2></div>
      		</div>
        </div>
      </div>
      <div class="padding-top center" ng-if="albums.totalPosts.length === 0">
        아직 저장하거나 공유한 앨범이 없습니다.
      </div>
    </div>
    <div ng-show="albums.filteringType === 'shared'">
      <div ng-repeat="post in albums.sharedPosts track by $index" class="padding-top" ng-click="albums.showAlbum($index)">
        <div class="padding-left row">
          <div class="col-67">
            <strong ng-show="post.name">{{post.name}}&nbsp;</strong><small class="mid-gray">{{post.address}}</small>
          </div>
          <div class="col-33 right">
            <small>{{post.datetime}}</small>
          </div>
        </div>
        <div ng-show="post.desc" class="padding-left padding-right mid-gray" style="height:21px;overflow:hidden;">
          <small>{{post.desc}}</small>
        </div>
        <div class="padding-top">
          <div ng-repeat="image in post.userPost.images| limitTo: 4 track by $index" style="width:{{albums.calculatedHeight+5}}px;height:{{albums.calculatedHeight}}px;display:inline-block;overflow:hidden;padding-left:5px;">
      			<img style="height:{{albums.calculatedHeight}}px;" ng-src="{{image.summary}}">
            <div style="width:{{albums.calculatedHeight+5}}px;height:{{albums.calculatedHeight+1}}px;position:relative;text-align:center;top:-{{albums.calculatedHeight+6}}px;z-index:100;background-color:rgba(0,0,0,0.5);padding-top:26px;" ng-show="$index === 3 && post.userPost.images.length > 4"><h2 style="color:white;">+{{post.userPost.images.length - 4}}</h2></div>
      		</div>
        </div>
      </div>
      <div class="padding-top center" ng-if="albums.sharedPosts.length === 0">
        아직 공유한 앨범이 없습니다.
      </div>
    </div>
    <div ng-show="albums.filteringType === 'saved'">
      <div ng-repeat="post in albums.savedPosts track by $index" class="padding-top" ng-click="albums.showAlbum($index)">
        <div class="padding-left row">
          <div class="col-67">
            <strong ng-show="post.name">{{post.name}}&nbsp;</strong><small class="mid-gray">{{post.address}}</small>
          </div>
          <div class="col-33 right">
            <small>{{post.datetime}}</small>
          </div>
        </div>
        <div ng-show="post.desc" class="padding-left padding-right mid-gray" style="height:21px;overflow:hidden;">
          <small>{{post.desc}}</small>
        </div>
        <div class="padding-top">
          <div ng-repeat="image in post.userPost.images| limitTo: 4 track by $index" style="width:{{albums.calculatedHeight+5}}px;height:{{albums.calculatedHeight}}px;display:inline-block;overflow:hidden;padding-left:5px;">
      			<img style="height:{{albums.calculatedHeight}}px;" ng-src="{{image.summary}}">
            <div style="width:{{albums.calculatedHeight+5}}px;height:{{albums.calculatedHeight+1}}px;position:relative;text-align:center;top:-{{albums.calculatedHeight+6}}px;z-index:100;background-color:rgba(0,0,0,0.5);padding-top:26px;" ng-show="$index === 3 && post.userPost.images.length > 4"><h2 style="color:white;">+{{post.userPost.images.length - 4}}</h2></div>
      		</div>
        </div>
      </div>
      <div class="padding-top center" ng-if="albums.savedPosts.length === 0">
        아직 저장한 앨범이 없습니다.
      </div>
    </div>


    <!-- <div class="padding-top" ng-click="albums.showAlbum()">
      <div class="padding-left">
        <strong>젠틀테이블</strong>&nbsp;<small class="mid-gray">운중동,성남시</small>
      </div>
      <div class="padding-top">
        <div ng-repeat="image in albums.images | limitTo: 2 track by $index" style="width:{{albums.calculatedHeight+5}}px;height:{{albums.calculatedHeight}}px;display:inline-block;overflow:hidden;padding-left:5px;">
    			<img style="height:{{albums.calculatedHeight}}px;" ng-src="{{image}}">
    		</div>
      </div>
    </div>
    <div class="padding-top" ng-click="albums.showAlbum()">
      <div class="padding-left">
        <strong>젠틀테이블</strong>&nbsp;<small class="mid-gray">운중동,성남시</small>
      </div>
      <div class="padding-top">
        <div ng-repeat="image in albums.images | limitTo: 4 track by $index" style="width:{{albums.calculatedHeight+5}}px;height:{{albums.calculatedHeight}}px;display:inline-block;overflow:hidden;padding-left:5px;">
    			<img style="height:{{albums.calculatedHeight}}px;" ng-src="{{image}}">
    		</div>
      </div>
    </div>
    <div class="padding-top" ng-click="albums.showAlbum()">
      <div class="padding-left">
        <strong>젠틀테이블</strong>&nbsp;<small class="mid-gray">운중동,성남시</small>
      </div>
      <div class="padding-left padding-right mid-gray" style="height:21px;overflow:hidden;">
        <small>동네술집에 가볍게 맥주한잔하기 딱! 표전 이탈리안 안주가 개성 넘치는 뭔가 졸라 긴 이야기를 막 열리하고 싶은</small>
      </div>
      <div class="padding-top">
        <div ng-repeat="image in albums.images | limitTo: 4 track by $index" style="width:{{albums.calculatedHeight+5}}px;height:{{albums.calculatedHeight}}px;display:inline-block;overflow:hidden;padding-left:5px;">
    			<img style="height:{{albums.calculatedHeight}}px;" ng-src="{{image}}">
    		</div>
      </div>
    </div>
    <div class="padding-top" ng-click="albums.showAlbum()">
      <div class="padding-left">
        <strong>젠틀테이블</strong>&nbsp;<small class="mid-gray">운중동,성남시</small>
      </div>
      <div class="padding-left padding-right mid-gray" style="height:21px;overflow:hidden;">
        <small>동네술집에 가볍게 맥주한잔하기 딱! 표전 이탈리안 안주가 개성 넘치는 뭔가 졸라 긴 이야기를 막 열리하고 싶은</small>
      </div>
      <div class="padding-top">
        <div ng-repeat="image in albums.images | limitTo: 4 track by $index" style="width:{{albums.calculatedHeight+5}}px;height:{{albums.calculatedHeight}}px;display:inline-block;overflow:hidden;padding-left:5px;">
    			<img style="height:{{albums.calculatedHeight}}px;" ng-src="{{image}}">
    		</div>
      </div>
    </div> -->

    <ion-infinite-scroll ng-if="!albums.isEndOfList()" on-infinite="albums.doRefresh('bottom')" immediate-check="false" distance="1%">
	  </ion-infinite-scroll>
  </ion-content>
</ion-view>
