<ion-view view-title="{{post.name || '앨범'}}">
  <ion-content>
    <div class="list">
      <div class="item item-avatar item-button-right" href="#">
        <img ng-src="{{profileImg}}">
        <h2><strong>{{nickname}}</strong></h2>
        <small>{{post.datetime}}</small>
        <a class="button button-outline button-stable icon ion-ios-more" style="top:15px;">
        </a>
      </div>
    </div>
    <!-- 노트 영역 -->
		<div class="row">
			<div class="col">
				<div>
          {{post.desc}}
        </div>
			</div>
		</div>
    <!-- 이미지 영역 -->
    <div ng-repeat="image in post.userPost.images | limitTo: 9 track by $index" style="width:{{calculatedHeight+5}}px;height:{{calculatedHeight}}px;display:inline-block;overflow:hidden;padding-left:5px;">
			<img style="height:{{calculatedHeight}}px;" ng-src="{{image.summary}}" on-hold="deleteAttatchedImage($index)">
		</div>
    <!-- 장소 정보 출력 영역 -->
		<div class="row" ng-show="post.name">
			<div class="col border">
				<strong><i class="ion-ios-location"></i>{{post.name}}</strong><br>
				<small>{{post.addrs[0]}}</small><br>
        <!-- <small>동네술집, 맥주한잔, 와인저렴, 콜키지무료, 이탈리안, 퓨전, 개성</small> -->
        <small ng-repeat="tag in post.userPost.tags">#{{tag.content}},&nbsp;</small>
			</div>
		</div>

    <!-- 검색 결과 -->
		<div class="list">
			<div class="item item-divider" ng-show="searchResults.length > 0">
		    관련 정보
		  </div>
      <div class="item item-divider" ng-show="searchResults.length == 0">
		    관련 정보 없음
		  </div>
			<a ng-repeat="result in searchResults" class="item" href="#" ng-click="openLink(result.link)">
				<h2>{{result.title}}</h2>
				<h3>{{result.author}}</h3>
				<p>{{result.description}}</p>
			</a>
			<!-- 블로그 더 보기 버튼 -->
			<!-- <a class="item" href="#" style="text-align: center;" ng-show="place.post.name" ng-click="place.searchPlace()">
				관련 블로그 더보기
			</a> -->
		</div>
  </ion-content>

  <!-- 하단 버튼 바 -->
  <ion-footer-bar>
    <div class="button-bar" style="margin-top:5px;">
      <a class="button button-stable" ng-click="showMap()" ng-show="post.lonLat">지도</a>
      <!-- <a class="button button-stable">저장</a> -->
      <a class="button button-stable" ng-click="share()">공유</a>
    </div>
  </ion-footer-bar>
</ion-view>
