<ion-popover-view>
  <ion-content>
    <div class="list">
      <button class="item button button-small button-stable button-clear button-full" ng-class="{'button\-positive':albums.isActiveMenu(0)}" ng-click="albums.changeOrderingType(0)">최신순</button>
      <button class="item button button-small button-stable button-clear button-full" ng-class="{'button\-positive':albums.isActiveMenu(1)}" ng-click="albums.changeOrderingType(1)">장소이름순</button>
      <button class="item button button-small button-stable button-clear button-full" ng-class="{'button\-positive':albums.isActiveMenu(2)}" ng-click="albums.changeOrderingType(2)">거리순</button>
    </div>
  </ion-content>
</ion-popover-view>
