<ion-popover-view>
  <ion-content>
    <div class="list">
      <button class="item button button-small button-stable button-clear button-full" ng-class="{'button\-positive':albums.isActiveMenu('-modified')}" ng-click="albums.changeOrderingType('-modified')">최신순</button>
      <button class="item button button-small button-stable button-clear button-full" ng-class="{'button\-positive':albums.isActiveMenu('placename')}" ng-click="albums.changeOrderingType('placename')">장소이름순</button>
      <button class="item button button-small button-stable button-clear button-full" ng-class="{'button\-positive':albums.isActiveMenu('distance_from_origin')}" ng-click="albums.changeOrderingType('distance_from_origin')">거리순</button>
    </div>
  </ion-content>
</ion-popover-view>
