<ion-modal-view>
  <ion-header-bar class="bar-positive" align-title="center">
    <h1 class="title">위치 지정</h1>
    <button class="button button-clear" ng-click="close()">취소</button>
	</ion-header-bar>

<div class="bar bar-subheader" style="height:51px;border-bottom:1px solid #eaeaea;">
  <div class="" style="width:100%;">
        <label class="item-input-wrapper">
          <i class="icon ion-ios7-search placeholder-icon"></i>
          <input type="search" ng-model="search.query"  style="width:100%;background:none;" placeholder="장소 이름을 입력하세요." id="input-location">
        </label>
      </div>
</div>





  <ion-content scroll="true">

    <div class="list" style="margin-top:48px;padding-bottom:50vh;">

      <ion-item ng-show="search.error">
        {{search.error}}
      </ion-item>
      <ion-item ng-show="search.query" ng-click="choosePlace({place_id:-1,type:'mauki',name:search.query})">
        <b>{{search.query}}</b><span>(으)로 저장</span>
      </ion-item>

      <ion-item ng-show="search.query"  ng-repeat="suggestion in search.suggestions">

        <!--지도아이콘 -->
        <div class="ion-location" ng-click="viewMap(suggestion)" style="color:#FD0066;font-size:30px;position:absolute;"></div>
        <!--지도아이콘 @-->

        <div style="margin-left:25px;" ng-click="choosePlace(suggestion)">
          <strong>{{suggestion.name}}</strong>
          <br>
          <small>{{suggestion.address}}</small>
          <br>
          <img src="img/daum.png" ng-if="suggestion.type =='daum'" style="vertical-align:middle;height:10px;">
          <img src="img/google.png" ng-if="suggestion.type =='google'" style="vertical-align:middle;height:12px;">
        </div>
      </ion-item>
    </div>
	</ion-content>
</ion-modal-view>
