<ion-modal-view>
  <ion-header-bar class="bar-positive" align-title="center">
    <button class="button button-icon button-clear ion-ios-navigate-outline" ng-click="share.refreshPosition()"></button>
		<h1 class="title">위치 지정</h1>
    <button class="button button-clear" ng-click="close()">취소</button>
	</ion-header-bar>
  <ion-content scroll="false">

    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios7-search placeholder-icon"></i>
          <input type="search" ng-model="search.query" placeholder="Search">
        </label>
      </div>
      <ion-item ng-show="search.error">
        {{search.error}}
      </ion-item>
      <ion-item ng-click="choosePlace({place_id:-1})">
        현재 위치
      </ion-item>
      <ion-item ng-repeat="suggestion in search.suggestions" ng-click="choosePlace(suggestion)">
        <!-- {{suggestion.description}} -->
        <strong>{{suggestion.name}}</strong>&nbsp;<small>{{suggestion.region}}</small>
      </ion-item>
    </div>
	</ion-content>
</ion-modal-view>
