<ion-view view-title="사진공유" cache-view="false">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear button-icon ion-ios-checkmark-empty" ng-click="share.upload()">
    </button>
  </ion-nav-buttons>
  <ion-content class="bold-container">
    <!-- 노트 영역 -->
		<div class="row">
			<div class="col fake-input">
				<!-- <label class="item item-input">
			    <input type="text" placeholder="이 사진과 장소에 대해 이야기해 주세요." ng-model="share.note">
			  </label> -->
        <!-- <div class="padding" style="color:#444;" id="note-result" ng-click="share.promptNoteModal()"> -->
        <div style="color:#444;" id="note-result" expanding-textarea content="share.note">
          메모를 남겨 주세요.
        </div>
			</div>
		</div>
    <!-- 이미지 영역 -->
		<div>
			<div ng-repeat="image in share.attatchedImages track by $index" style="position:relative;float:left;width:{{share.calculatedHeight+5}}px;height:{{share.calculatedHeight}}px;display:inline-block;overflow:hidden;padding-left:5px;text-align:center;">
				<div ng-click="share.removeImage($index)" class="ion-close" style="position:absolute;right:0;top:0;font-size:15px;color:white;background-color:gray;opacity:0.8;border-radius:50%;height:22px;width:22px;padding-top:1px;text-align:center;"></div>

				<img style="height:{{share.calculatedHeight}}px;" ng-src="{{image}}">
			</div>
			<!--add image -->
			<div ng-click="share.addImage()"  style="position:relative;float:left;border:1px solid #eaeaea;color:gray;float:left;width:{{share.calculatedHeight+5}}px;height:{{share.calculatedHeight}}px;display:inline-block;overflow:hidden;padding-left:5px;text-align:center;">

				<div style="margin:0 auto;font-size:50px;font-weight:200;padding-top:40%">+</div>
			</div>
		</div>
		<!--add image @-->

    <!-- 장소명 입력 폼 -->
		<!-- <div class="row">
			<div class="col fake-input">
				<div class="list">
		      <a class="button button-stable button-full icon-left ion-ios-location" location-suggestion location="share.location" style="height:32px;text-align:left;">
						<strong>{{share.location.name || share.placeholderTitle}}</strong><br>
						<small>{{share.location.formatted_address || share.placeholderSubTitle}}</small>
					</a>
		    </div>
			</div>
		</div> -->
    <div class="row">
			<div class="col border" location-suggestion location="share.location">
			  <strong><i class="ion-ios-location"></i>&nbsp;{{share.location.name || share.placeholderTitle}}</strong><br>
				<small>{{share.location.address || share.placeholderSubTitle}}</small>
        <!-- <small ng-show="share.location.geometry">({{share.location.geometry.location.lat()}}, {{share.location.geometry.location.lng()}})</small> -->
			</div>
		</div>
  </ion-content>
</ion-view>
