<ion-view view-title="문의하기">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear button-icon ion-ios-checkmark-empty" ng-click="contact.send()">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">e-mail</span>
        <input type="text" placeholder="수신할 이메일 주소를 입력해 주세요." ng-model="contact.email">
      </label>
    </div>
    <!-- <iframe id="editor" style="display:block;width:100%;height:300px;">
    </iframe> -->
    <div class="card">
      <textarea class="padding-top padding-left" rows="10" style="width:100%;" placeholder="문의하실 내용을 입력해 주세요." ng-model="contact.content"></textarea>
    </div>
  </ion-content>
  <!-- <ion-footer-bar class="bar-stable">
    <a class="button button-outline button-assertive button-footer" ng-click="contact.sendQuestion()">
      보내기
    </a>
  </ion-footer-bar> -->
</ion-view>
