<ion-view view-title="내정보">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="profile.submit()" ng-show="profile.needToSubmit">
      저장
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="row">
      <div class="col profile-avatar">
        <img ng-src="{{profile.profileImg}}" ng-click="profile.changeProfileImg()">
         <span class="modify-img">
          <i class="icon ion-ios-camera-outline"></i>
        </span> 
      </div>
    </div>
    <div class="list">
      <div class="item">
        닉네임
        <span class="item-note">
          {{profile.nickname}}
        </span>
      </div>
      <div class="item" ng-show="hasEmail()">
        이메일
        <span class="item-note">
          {{profile.realEmail}}
        </span>
      </div>
    </div>
  </ion-content>
</ion-view>
